doctype 5
html(lang='en')
    head
        meta(charset='utf-8')
        title='Dados en 3D'
        link(rel='stylesheet', type='text/css' , href='/static/bootstrap.css')
        link(rel='stylesheet', type='text/css' , href='/static/base.css')
    body
        a(href='https://github.com/erickxls/3DICE')
            img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')
        section#container
            div#controls
                button#generate.btn.btn-block.btn-primary Generar
            div#experiment
                div#cube
                    div.face.one
                    div.face.two
                    div.face.three
                    div.face.four
                    div.face.five
                    div.face.six
        script(type='text/javascript', src='/static/dice.js')