body {
    background-color: rgba(50, 50, 50, 0.7);
}
#experiment {
    -webkit-perspective: 800;
    -webkit-perspective-origin: 50% 200px;
}
#container {
    width: 400px;
    margin: 3em auto;
}
#controls {
    width: 400px;
    margin: 0 auto 5em auto;
}
#cube {
    position: relative;
    margin: 0 auto;
    height: 400px;
    width: 400px;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
}
.face {
    position: absolute;
    height: 360px;
    width: 360px;
    padding: 20px;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    font-size: 20em;
    text-align: center;
    
    color: #FFF;
}
#cube .one {
    -webkit-transform: rotateX(90deg) translateZ(200px);
    background: #000 url(/static/img/1.png) no-repeat 20px 20px;
}
#cube .two {
    -webkit-transform: translateZ(200px);
    background: #000 url(/static/img/2.png) no-repeat 20px 20px;
}

#cube .three {
    -webkit-transform: rotateY(90deg) translateZ(200px);
    background: #000 url(/static/img/3.png) no-repeat 20px 20px;
}

#cube .four {
    -webkit-transform: rotateY(180deg) translateZ(200px);
    background: #000 url(/static/img/4.png) no-repeat 20px 20px;
}

#cube .five {
    -webkit-transform: rotateY(-90deg) translateZ(200px);
    background: #000 url(/static/img/5.png) no-repeat 20px 20px;
}

#cube .six {
    -webkit-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
    background: #000 url(/static/img/6.png) no-repeat 20px 20px;
}